# @branchleft/* packages are hosted on GitHub Packages. Contributors need a
# GitHub Personal Access Token with `read:packages` scope in their user-level
# ~/.npmrc:
#
#   //npm.pkg.github.com/:_authToken=YOUR_GITHUB_PAT
#
# In CI, set NODE_AUTH_TOKEN and uncomment the token line below.
@branchleft:registry=https://npm.pkg.github.com
always-auth=true
# //npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
